export NODE_ENV=development
# export DATABASE_URL=file:./prisma/dev.db
export DATABASE_URL=postgresql://postgres.tbozfsmbgxrrrpaqbaxg:kotaKediri@@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
